body {
  background-color: greenyellow;
  font-family:'Franklin Gothic Medium', 'sans-serif';
}

#mainDialog {
  background-clip: padding-box;
  background-color: dodgerblue;
  border-width: 16px;
  border-style: solid;
  border-image: url("border.gif");
  border-image-repeat: stretch;
  border-image-slice: 8;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: x-large;
  image-rendering: crisp-edges;
  padding: 4px;
  text-shadow: 2px 2px 1px black;
}

#dialogContainer {
  padding: 100px;
}

.animateScale {
  animation-duration: 200ms;
  animation-name: openScale;
}

@keyframes openScale {
  from {
    height: 16px;
    width: 16px;
  }

  to {
    height: var(--dialogHeight, 100px);
    width: var(--dialogWidth, 100px);
  }
}

@keyframes closeScale {
  to {
    height: 16px;
    width: 16px;
  }

  from {
    height: var(--dialogHeight, 100px);
    width: var(--dialogWidth, 100px);
  }
}